* {
    line-height: 28px;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background: #05292E;
}

h1, h2, h3 {
    text-align: center;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #05292E;
    color: #fff;

}

.Header, .Header_img1 {
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}

.Header_img2 {
    position: absolute;
    min-width: 50%;
    width: calc((100px - 100%) * 1000);
    max-width: 100%;
    height: auto;
    top: 4vh;
    left: 28vw;
}

.nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
}

.search {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
    background: #062226;
}

.search input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 0 1rem 0 1rem;
    font-size: 24px;
    line-height: 28px;
}

.search-btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #062226;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
}

/* mobile first responsive */

.container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    overflow-x: hidden;
}

.card__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
    overflow-x: hidden;
}

.card__resident {
    max-width: 300px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    background: #062226;
    border-radius: 5px;
}

.card__resident img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}


.location {
    text-align: center;
    width: 80%;
    gap: 1rem;
    font-size: 24px;
    line-height: 28px;
    background: #062226;
    border-radius: 5px;
}

.location span {
    color: #fff;
}

.location__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: black;
    font-weight: bold;
    padding: 1rem;
    color: #fff;
}

.resident {
    width: 100vw;
}

.resident span {
    color: #7E7E7E;

}

.pagination {
    width: auto;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
    background: #062226;
}

.pagination button {
    width: auto;
    height: auto;
    border: none;
    background: #062226;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button.active {
    background: #fff;
    color: #062226;
}

/* responsive */
@media screen and (max-width: 290px) {
    .Header_img2 {
        position: absolute;
        min-width: 50%;
        width: calc((100px - 100%) * 1000);
        max-width: 100%;
        height: auto;
        top: 4vh;
        left: 28vw;
    }

    .Header_img1 {
        width: 100%;
        height: auto;
        position: relative;
    }

    .search {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 5px;
        background: #062226;
    }

    .search input {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 0 1rem 0 1rem;
        font-size: 24px;
        line-height: 28px;
    }

    .search-btn {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #062226;
        font-size: 24px;
        line-height: 28px;
        cursor: pointer;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0 2rem 0;
    }

    .card__container{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0 2rem 0;
    }

    .card__resident {
        max-width: 300px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        background: #062226;
        border-radius: 5px;
    }

    .card__resident img {
        max-width: 100%;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
    }

}

@media screen and (min-width: 768px) {
    .Header_img2 {
        position: absolute;
        min-width: 50%;
        width: calc((100px - 100%) * 1000);
        max-width: 100%;
        height: auto;
        top: 4vh;
        left: 28vw;
    }

    .Header_img1 {
        width: 100%;
        height: auto;
        position: relative;
    }

    .search {
        width: 75%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: 5px;
        background: #062226;
    }

    .search input {
        width: 77%;
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 0 1rem 0 1rem;
        font-size: 24px;
        line-height: 28px;
    }

    .search-btn {
        width: 80%;
        height: 50px;
        border: none;
        border-radius: 5px;
        background: #fff;
        color: #062226;
        font-size: 24px;
        line-height: 28px;
        cursor: pointer;
    }

    .container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0 2rem 0;
    }

    .card__container{
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0 2rem 0;
    }

    .card__resident {
        max-width: 300px;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        background: #062226;
        border-radius: 5px;
    }

    .card__resident img {
        max-width: 100%;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
    }

}

